<a href="https://colab.research.google.com/github/Rovick1/CPEN65-2/blob/main/Causaren%2C_Jan_Rovick_Midterm_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [111]:
#1
from array import array

a = array('i', [1,2,3,4,5,6,7,8,9,10])
indexlist = [1,3,4,9]

print("Original List: " + str(a))
print("Index List: "+ str(indexlist))

reslist = [a[i] for i in indexlist]

print ("Result list : " + str(reslist))

b = reslist
sum = 0

for i in range(0, len(b)):
  sum = sum + reslist[i];

print("Sum of result list: ",sum)

Original List: array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
Index List: [1, 3, 4, 9]
Result list : [2, 4, 5, 10]
Sum of result list:  21

In [77]:
#2
b = array('i', [1,2,3,4,5,6,7,8,9,10])
x = int(input("Input Number: "))
b.append(x)
print(b)

Input Number: 90
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 90])

In [51]:
#3
c = array('i', [1,2,3,4,5,6,7,8,9,10])


c.insert(1,55)

print("inserting a 55 before the second element: ")
print(c)

inserting a 55 before the second element:
array('i', [1, 55, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [36]:
#4
d = array('i', [5,4,3,2,1])
d.reverse()

print("Reversed order of array:")
print(d)

Reversed order of array
array('i', [1, 2, 3, 4, 5])

In [41]:
#5 
e = array('i', [5,4,3,2,1])

length = len(e)

print("length of array:", length)

length of array: 5